body {

    margin:0;
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size:22px;
}


.container_bottom_homepage {

    margin-top:5%;
}

.container_register_homepage {
    margin-top:10%;
    background-color: white;
    border-radius: 10px;
    padding:3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button_register {
    margin-top: 5%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    font-size:15px;
    color:#262626;
    background-color: transparent;

}

.row_register {

    margin-top:5%;

}

.image_bottom_homepage {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;

}

.image_photo_home {

    width: 80%;
    border-radius: 5px;

}

.container_all_galerie {

    padding: 2%;
    border-radius: 5px;
    background-color: #fafafa;
    border: solid 1px #c3c3c3;
    box-shadow: 3px 4px 16px 0px rgba(58, 58, 58, 0.42);

}

.container_galerie_home {

    border: solid 1px #dcd7d7;
    padding: 2%;
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 2%;
}

.ligne_home {

    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #e4e4e4;

}

.container_image_home {
    padding-left:0;
    padding-right:5px;

}