{% extends "base.html.twig" %}

 {% block body %}

     {% include "menu.html.twig" %}

     <div class="container_loader text-center">
         <div class="loader"></div>
         <h2>Chargement..</h2>
     </div>

     <div class="partie_administrateur">
         <div class="container">
             <div class="row">
                 <div class="col-md-12 container_user_all">
                     {{ render(url('adminindex')) }}
                 </div>
             </div>
         </div>
     </div>

 {% endblock %}