{% extends "base.html.twig" %}

 {% block body %}

     {% if is_granted('IS_AUTHENTICATED_FULLY') %}

         {% include "menu.html.twig" %}

         {% else %}

             {% include "menu.html.twig" %}

     {% endif %}

     <div class="partie_content_bottom">
         <div class="container container_bottom_homepage">
             <div class="row">
                 <div class="col-md-2 container_all_galerie">
                     {{ render(url('showallgalerie')) }}
                 </div>
                 <div class="col-md-1">

                 </div>
                 <div class="col-md-9">
                     {{ render(url('ShowRandomGalerie')) }}
                 </div>
             </div>
         </div>
     </div>

 {% endblock %}