{% extends "base.html.twig" %}

 {% block body %}

     {% if is_granted('IS_AUTHENTICATED_FULLY') %}

         {% include "menu.html.twig" %}

         {#{{ render(controller('AppBundle:Photo:add')) }}#}



         {% else %}

             {% include "menu.html.twig" %}

            <div class="partie_content_bottom">
                <div class="container-fluid container_bottom_homepage">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-responsive image_bottom_homepage" src="{{ asset('/img/home/image_bottom.png') }}">
                        </div>
                        <div class="col-md-6">


                        </div>
                    </div>
                </div>
            </div>

     {% endif %}


     <script src="{{ asset('js/home/addphoto.js') }}" ></script>

 {% endblock %}
 